<br>
<div class = "content">

 <p> Welcome to Stylistics Hair Salon! Our highly esteemed Hair Style Creatives will make sure you are stylin' in no time!
</p>

<h1>Specials!</h1>
<p>Coming Soon!</p>

</div>
