<br>
<div class= "content" >

<h1>Documentation</h1>
Kenneth Ashley, PSID: 1181795, CIS 4339 Spring 2017, Professor Lancaster
  <h1>About</h1>
  This is a semester-long project for Professor Lancaster's class (CIS 4339) at the University of Houston. The project is
  a hair salon management system that includes such functionality as:

    <li>employee scheduling</li>

    <li>appointment management for customers</li>

    <li>simple reporting for management</li>

     <li> simple customer payment management</li>


  <h1>Navigation</h1>
<p >
 <li><%= link_to 'Design', documentation_Design_path %></li>
  <li><%= link_to 'Post Mortem', documentation_PostMortem_path %></li>
  <li><%= link_to 'User Manual', documentation_UserManual_path %></li>
  <li><%= link_to 'User Stories', documentation_UserStories_path %></li></p>

</div>
