<br>
<div class= "content"><h1>Reports</h1>
<p>Select a report below:

   <li> <%= link_to 'Appointment Invoices By Date', reports_appointments_by_date_path %></li>
    <li><%= link_to 'Appointment Invoices By Employee', reports_appointments_by_employee_path %></li>
   <li> <%= link_to 'Employee Pay By Date', reports_employee_pay_by_date_path %></li>
</p>


</div>